ipykernel
numpy
pandas
matplotlib
seaborn
flask
memory_profiler
streamlit
langchain
langchain_community
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
python-dotenv
langchain-openai
langchain-groq
langchain-core
fastapi
uvicorn
langserve[ALL]